<div class="container">
  <form [formGroup]="formGroup">
    <div class="row gy-3">
      <fieldset>
        <legend>Simple inputs</legend>
        <div class="row mt-3">
          <gerandon-basic-input class="col-md-6 col-12"
                                formControlName="textInput"
                                aria-label="Text input"
                                [focusOnInit]="true"
                                aria-description="This is a text input"
                                [aria-placeholder]="'Control value:' + formGroup.controls.textInput.value!"
                                [validatorMessages]="{ invalidValidationTest: 'Test validation message' }"
                                label="Text input"
                                [hintLabel]="'Control value:' + formGroup.controls.textInput.value!"
                                color="accent"
                                appearance="outline">
          </gerandon-basic-input>
          <gerandon-basic-input class="col-md-6 col-12"
                                formControlName="numberInput"
                                type="number"
                                label="Number input">
          </gerandon-basic-input>
          <gerandon-basic-input class="col-md-6 col-12"
                                formControlName="phoneInput"
                                type="tel"
                                label="Phone input">
          </gerandon-basic-input>
        </div>
      </fieldset>
      <fieldset>
        <legend>Masked inputs</legend>
        <div class="row mt-3">
          <div class="col-md-6 col-12">
            <gerandon-basic-input
              formControlName="maskedTextInput"
              mask="00000000-0-00"
              [specialCharacters]="['-']"
              [showMaskTyped]="true"
              label="Masked with value">
            </gerandon-basic-input>
            <p>Control value: {{ formGroup.controls.maskedTextInput.value }}</p>
          </div>
          <div class="col-md-6 col-12">
            <gerandon-basic-input
              formControlName="maskedTextInput2"
              mask="00000000-0-00"
              [specialCharacters]="['-']"
              [dropSpecialCharacters]="true"
              [showMaskTyped]="true"
              label="Masked with unmasked value">
            </gerandon-basic-input>
            <p>Control value: {{ formGroup.controls.maskedTextInput2.value }}</p>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Dropdowns</legend>
        <div class="row mt-3">
          <gerandon-select class="col-md-6 col-12"
                           formControlName="syncSelect"
                           label="Sync Options"
                           emptyOptionLabel="-"
                           [options]="syncOptions">
          </gerandon-select>
          <gerandon-select class="col-md-6 col-12"
                           formControlName="asyncSelect"
                           label="ASync Options"
                           emptyOptionLabel="-"
                           [lazy]="true"
                           [initialOptionGetFn]="initialOptionGetFn"
                           [asyncOptions]="asyncOptions">
          </gerandon-select>
        </div>
      </fieldset>
      <fieldset>
        <legend>Textarea</legend>
        <div class="row">
          <gerandon-textarea-input class="col-12"
                                   formControlName="textareaInput"
                                   label="Textarea input"
                                   hintLabel="Test hint"
                                   [aria-description]="'A maximálisan megadható karakter szám: 2000'"
                                   [maxLength]="2000">
          </gerandon-textarea-input>
        </div>
      </fieldset>
      <fieldset>
        <legend>Chips</legend>
        <div class="row">
          <gerandon-basic-chips class="col-md-6 col-12"
                                formControlName="basicChips"
                                label="Basic chips">
          </gerandon-basic-chips>
          <gerandon-basic-chips class="col-md-6 col-12"
                                formControlName="autocompleteChips"
                                labelProperty="label"
                                [asyncFilterFn]="asyncFilterFn"
                                [startAsyncFnAt]="3"
                                [aria-description]="'nincs'"
                                hintLabel="Kezdjen el gépelni..."
                                label="Async Autocomplete chips">
          </gerandon-basic-chips>
        </div>
      </fieldset>
    </div>
  </form>
</div>
